.main-layout {
  margin-left: 0px; 
  padding: 5rem 8rem;
  min-height: 75vh;
  width: 85vw;
  background-color: #f4f4f4; 
  border-radius: 0rem 1rem 1rem 0rem; 
  box-sizing: border-box;
  box-shadow:  -20px -20px 60px #bebebe,
             20px 20px 60px #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
