// CartPage.scss
.cart-page {
  .cart-items {
    margin-bottom: 30px;

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      p {
        font-size: 2.2rem;
      }
      .item-info {
        flex-grow: 1;

        h2 {
          margin: 0 0 10px;
        }
        
        .item-price {
          font-weight: bold;
        }
      }

      .item-actions {
        button {
          background-color: #f44336; 
          color: white;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;

          &:hover {
            background-color: #d32f2f;
          }
        }
      }
    }
  }

  .empty-cart-message {
    text-align: center;
    font-size: 1.2em;
  }

  .checkout {
    text-align: right;

    .total-price {
      margin-bottom: 20px;
      font-size: 1.5em;
      font-weight: bold;
    }

    .checkout-button {
      background-color: #4caf50; // Green color for checkout button
      color: white;
      border: none;
      border-radius: 5px;
      padding: 15px 30px;
      font-size: 1.2em;
      cursor: pointer;

      &:hover {
        background-color: #388e3c;
      }
    }
  }
}
