
.dataset-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .dataset-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    align-content: center;
        justify-items: center;
        align-self: center;
        align-items: center;
        justify-items: center;
   overflow-y: wrap;
    gap: 20px;
    .dataset-card {
     
      

      width: 15rem;
      height: 8rem; 
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 1.2rem;
      margin: 0rem;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      p {
        margin: 0.4rem;
        font-size: 0.7rem;
        text-align: center;
      }
      h2 {
        margin-top: 0;
        font-size: 0.9rem;
        text-align: center;
      }
      button {
        font-size: 0.6rem;
        margin: 0rem 0rem 0.4rem 0rem;
        float: right;
      }

     
    }
    .dataset-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }
}
